.header{ display: inline-flex;}
.logo {margin: 10px;}
.center { display: inline-flex; margin: 10px;}
.button { padding: 0px 10px 10px 0px;}
#modal{width: 50%; box-shadow:0 0 10px black ;border-radius: 20px; margin: 20px auto; padding: 10px;}
#modal h1{text-decoration: underline;font-family: 'Arial black';}
