.header {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    padding: 16px;
    height: 64px;
    z-index: 3;
  }
  .header .logo {
    font-weight: 300;
    font-size: 1.6em;
    color: #fff;
  }
  .header .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 8px;
    padding-left: 210px;
    background-color: black;
  }
  body {
      background-color: #77B5FE;
  }
  .header .center #showbutton {
    float: right;
  }
  .header .center .button {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 48px;
    width: auto;
    line-height: 48px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 0 4px;
    -moz-transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .center .button a {
    padding: 0 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: block;
  }
  .header .center .button:hover {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }
  .header .center .button:active {
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header .center .button.active {
    background: #303F9F;
  }
  .header .center .button.active a {
    color: rgba(255, 255, 255, 0.87);
  }